<div id="<%= dom_id post %>">
  <h2>
    <%= post.title %>
  </h2>
  <h6>
    Posted by: <small><%= link_to post.user.name, profile_path(current_user.id) %></small>
  </h6>
  <div>
    <%= post.body %>
    <div>
      <span class="badge bg-primary"><%= pluralize(post.views, "view") %></span>
    </div>
  </div>
</div>
